{#
  room_id 房间号
  msg 显示的信息
#}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>狼人杀法官</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    <body>

  <div class="container-fluid" style="background-color: #101010;">
    <div class="row-fluid" style="color: #FFF; margin-top: 10px; margin-bottom: 10px;">
      <table width=100%>
      <tr>
      <td width=10%>
<!--       <a href="/login">
      <i class="glyphicon glyphicon-home" style="font-size:23px; color:#FFF;"></i>
      </a> -->
      </td>
      <td class="text-center" style="color: #FFF; font-size:23px" >
        <!-- <h3 class="text-center" style="color: #FFF;"> -->
        房间 {{room_id}}

        <!-- </h3> -->
      </td>
      <td width=10%>
      </td>
      </tr>
      </table>
      
    </div>
  </div>

<div class="container-fluid" style="margin-top: 40px;">
	<div class="row-fluid">
		<div class="span12">

      {{msg}}


		</div>
	</div>

</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
